<%-include('navbar.ejs');%>
<div class="container" align ="center">
    <h1>Dice Game</h1>
 <br>
 <label for = "no_of_players" >Number of players:</label>
 <select id = "no_of_players" name="no_of_players" >
  <option value='0'>choose</option>  
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
</select>
<br>
<br>
<div id="forButton" ></div>
<br>
<table id="dicetable" class="table " >


</table>
</div>
<script src="/jsfiles/dicegame.js"></script>
</body>
</html>