<%-include('navbar.ejs');%>
    

<div class="container" align="center">
    <h1>Select a Game</h1>
    <br>
    <a name="dicegame"href="/dicegame"> <img src='images/dice.jpg'width="300px"height="300px"></a>
    <a name="cardsgame"href="/cardsgame"><img src="images/cards.jfif" width="300px"height="300px"></a>
   
</div>
</body>
</html>