<%-include('forms.ejs');%>
<main class="text-center">
    <div class="jumbotron">
        <h1  class="display-4">Registered Successfully</h1>
        <p>Click below to Login</p>
        <p class="lead">
          <a class="btn btn-dark" href="/" role="button">Login</a>
        </p>
      </div>
</main>
</body>
</html>